header {
  height: 70px;
  width: 100%;
  background-color: #234bdb;
  color: aliceblue;
  padding: 20px;
  font-family: "Helvetica";
  font-size: 25px;
  font-weight: 600;
}

header h3 {
  cursor: pointer;
  display: inline;
}
